.slidemenu {
  height: 100%;
  width: 65px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0px 8px;
  background: #41abef; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #41abef 0%, #1f47b0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #41abef 0%, #1f47b0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #41abef 0%, #1f47b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.slidemenu .active {
  background-color: rgba(255, 255, 255, 0.123);
}
.line {
  border-bottom: 1px solid #fff;
}

a {
  padding: 5px 0px 5px 13px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  border-radius: 6px;
}

.icon-text {
  font-size: 14px;
}

a:hover {
  color: #005cbf;
  background-color: rgba(255, 255, 255, 0.123);
}

a:nth-child(1){
  padding: 13px 0px 13px 13px;
}

a:nth-child(1) span {
  font-size: 20px;
}

a .letters {
  padding-left: 4px !important;
  padding-bottom: 3px;
  margin-right: 33px;
}

a mat-icon {
  padding-bottom: 3px;
  margin-right: 33px;
}
