<div id="mySidebar" class="slidemenu" [ngStyle]="{'width.px': width}">
  <a routerLink="/dashboard"><mat-icon>circle</mat-icon><span class="icon-text">OLSoftware</span></a>
  <div class="line mb-3"></div>
  <a href="#"><mat-icon>map_outline</mat-icon><span class="icon-text">Programación</span></a>
  <br>
  <a href="#"><mat-icon>format_list_bulleted</mat-icon><span class="icon-text">Gestión de operaciones</span></a>
  <br>
  <a href="#"><mat-icon>tune</mat-icon><span class="icon-text">Perfiles</span></a>
  <br>
  <a href="#"><span class="letters">R</span><span class="icon-text">Roles</span></a>
  <br>
  <a class="active" routerLinkActive="active" routerLink="/dashboard/usuarios"><span class="letters">U</span><span class="icon-text">Usuarios</span></a>
  <br>
  <a href="#"><mat-icon>insert_drive_file</mat-icon><span class="icon-text">Reportes</span></a>
</div>
